.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
.pagination button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    margin: 0 5px; 
  }
  
.pagination button:hover {
    background-color: #c82333;
  }
  
.pagination span {
    font-size: 14px;
    color: #333;
    margin: 0 10px;
  }
  